body
{
/* The page background and font */
background-repeat:no-repeat;
/* setting it on 0px will leave us with no padding around the design, rendering the page at the absolute top. */
margin:0px;
padding:0px;  
}


/*--------------*/
/*   HEADER     */
/*--------------*/      

#header
{   
height:200px;
width:100%;
background:#eee; 
}

.navbar
{
height:80px;	
}

.navbar-header
{
padding-left:200px;	
}

.nopadding 
{
padding: 0 !important;
margin: 0 !important;
}

.underline
{
border-bottom: 1px solid #000;    
}

h1
{
color:#787878 !important;	
}

.quote
{
height:200px;
text-align:center;
font-style:italic;
color: #383838; 
}

.boxstyle
{
height:200px;
border:1px solid #000000;
padding:20px; 
}

blockquote
{
font-size:30px; 
}

.aligncenter 
{
margin-right:auto;
margin-left:auto;
text-align:center;   
}

.home-content
{
height:400px;
border-top: dotted;	
}

/* Body */
a
{
text-decoration: none;	
}

a:hover
{
color:#fff;	
}

/*--------------*/
/*   FOOTER     */
/*--------------*/

#footer
{  
width: 100%;
height:50px;
background-color: #000;
display: block;
float:left;
margin-top:15px;
}