<div class="row">
	<div class="col-md-12 nopadding">
		<img class="banner img-responsive" src="http://placehold.it/1050x300/CC3366/FFFFFF" style="width:100%;"/>
	</div>	
</div>

<div clas="row">
	<div class="col-md-12">
		<div class="industry-block">
			<h1>Be Industry Specific</h1>
			<div class="boxstyle">
			<p>Content text with a box border <p>
			</div>
		</div>

		<div class="saywhat-block">
			<h1>Say What You Want</h1>
			<div class="boxstyle">
			<p>Content text with a box border <p>
			</div>	
		</div>

		<div class="dragon-block">
			<h1>Don't Drag On</h1>
			<div class="boxstyle">
			<p>Content text with a box border <p>
			</div>
		</div>

		<div class="coverletter-block">
			<h1>Cover Letters</h1>
			<div class="boxstyle">
			<p>Content text with a box border <p>
			</div>
		</div>
	</div>	
</div>
